<?xml version="1.0" ?>

<config>

	<modules>
		<TwoBitWorks_Autorecurringbilling>
			<version>0.1.0</version>
		</TwoBitWorks_Autorecurringbilling>
	</modules>

	<frontend>
		<routers>
			<autorecurringbilling>
				<use>standard</use>
				<args>
					<module>TwoBitWorks_Autorecurringbilling</module>
					<frontName>autorecurringbilling</frontName>
				</args>
			</autorecurringbilling>
		</routers>
		<layout>
			<updates>
				<autorecurringbilling>
					<file>autorecurringbilling.xml</file>
				</autorecurringbilling>
			</updates>
		</layout>

		<events>
			<sales_order_invoice_pay>
				<observers>
					<soip_listener>
						<type>model</type>
						<class>Autorecurringbilling_Model_Observer</class>
						<method>alert_soip</method>
					</soip_listener>
				</observers>
			</sales_order_invoice_pay>

			<sales_order_place_after>
				<observers>
					<sopa_listener>
						<type>model</type>
						<class>Autorecurringbilling_Model_Observer</class>
						<method>alert_sopa</method>
					</sopa_listener>
				</observers>
			</sales_order_place_after>

			<checkout_controller_onepage_success_action>
				<observers>
					<ccosa_listener>
						<type>model</type>
						<class>Autorecurringbilling_Model_Observer</class>
						<method>alert_ccosa</method>
					</ccosa_listener>
				</observers>
			</checkout_controller_onepage_success_action>

			<checkout_type_onepage_save_order>
				<observers>
					<ctoso_listener>
						<type>model</type>
						<class>Autorecurringbilling_Model_Observer</class>
						<method>alert_ctoso</method>
					</ctoso_listener>
				</observers>
			</checkout_type_onepage_save_order>
		</events>
	</frontend>

	<global>
		<blocks>
			<autorecurringbilling>
				<class>TwoBitWorks_Autorecurringbilling_Block</class>
			</autorecurringbilling>
		</blocks>
	</global>

</config>
